<div class="main-content">
    <h1>Terms of Service</h1>
    <ul>
        <li>Do not do anything illegal.</li>
    </ul>
    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</div>